1. Concatenating Strings:

In [9]:
City = "Addis Ababa "
Country= "Ethiopia"
Output = City + Country
print("output:",output)

output: Addis Ababa Ethiopia

2. Accessing Characters by Index:

In [23]:
City = "Atlanta "
print("Index:",City[0])
Country= "Georgia"
print("Index:",Country[0])

Index: A
Index: G

3. String Length:

In [29]:
x ="Atlanta"
print(len(x))

y ="Georgia"
print(len(y))

7
7

4. String Slicing:

In [37]:
x ="Atlanta"
print(x[0:3])

y ="Georgia"
print(y[0:5])

Atl
Georg

5. String Methods:

In [47]:
city = "addis ababa"
x = city.upper()
print(x)

Country = "Ethiopia" 
y = Country.lower()
print(y)

ADDIS ABABA
ethiopia

6. String Formatting:

In [52]:
x = "This is my {:.2f} dollar!"
print(x.format(100))

This is my 100.00 dollar!