In [29]:
# create a_list 
a_list=[5,2,3,4,5,5,5,5,5]

In [121]:
# How can you add a new element to the end of a_list? Provide the code
a_list.append(6)
print(a_list)

[3, 4, 5, 5, 5, 5, 5, 6, [9, 10], 9, 10, 6]

In [114]:
# How can you extend a_list by adding all the elements from another_list to the end of it? Provide the code.
# we can add a list of to another list in two ways 
# using .append to add [9,10] to the end of the list as is this will be added a a single elemet
a_list.append([9,10]) 
print(a_list)
# using .extend to add [9,10 ] this way we will add 9 and 10 as a single element 
a_list.extend([9,10])
print(a_list)

[5, 2, 3, 4, 5, 5, 5, 5, 5, 6, [9, 10]]
[5, 2, 3, 4, 5, 5, 5, 5, 5, 6, [9, 10], 9, 10]

In [115]:
# How can you access the element at index 2 in a_list? Provide the code
print(a_list[2])

3

In [116]:
# How can you change the value of the element at index 1 in a_list? Provide the code.
a_list[1]=3
print(a_list)

[5, 3, 3, 4, 5, 5, 5, 5, 5, 6, [9, 10], 9, 10]

In [117]:

# How can you remove a specific element from a_list? Provide the code.
#using .pop to delete elememt using the index value

a_list.pop(4)
print(a_list)

#using .remove to delete elememt using the first value that matches with the criteria 
a_list.remove(3)
print(a_list)

[5, 3, 3, 4, 5, 5, 5, 5, 6, [9, 10], 9, 10]
[5, 3, 4, 5, 5, 5, 5, 6, [9, 10], 9, 10]

In [118]:
from re import A
# How can you find the index of a specific element in a_list? Provide the code.
print(a_list.index(3))

1

In [119]:
# How can you count the number of occurrences of a specific element in a_list? Provide the code.
print(a_list.count(5))

5

In [123]:
# How can you sort the elements in a_list in ascending order? Provide the code.
a_list.sort()
print(a_list)

[2, 3, 4, 5, 5, 5, 5, 5, 5]

In [30]:
# How can you reverse the order of elements in a_list? Provide the code.
a_list.reverse()

print(a_list)
a_list[::-1]

[5, 5, 5, 5, 5, 4, 3, 2, 5]

[5, 2, 3, 4, 5, 5, 5, 5, 5]

In [125]:
# How can you create a new list new_list that contains the same elements as a_list? Provide the code.
new_list = a_list
print(new_list)

[5, 5, 5, 5, 5, 5, 4, 3, 2]

In [126]:
# How can you remove all elements from a_list? Provide the code.
a_list.clear()
a_list

[]

In [13]:
# How can you add a new element to the end of tuple? Provide the code.
tuple_one= (1,2,3,4,4)
tuple_two=(5,6,7)
combine = tuple_one + tuple_two
print(combine)

(1, 2, 3, 4, 4, 5, 6, 7)

In [12]:
# How can you extend a_tuple by adding all the elements from another_tuple to the end of it? Provide the code.
combine.append(8)
combine.extend(8)
# you can extend or add data to tuple using + sign
# you cant use append() or extend() function in tuple

In [5]:
# How can you access the element at index 2 in tuple? Provide the code.
combine[2]

3

In [7]:
# How can you change the value of the element at index 1 in tuple? Provide the code.
combine[1]=10
#since tuple is immutable it isn't allowed to change it's value
# it will throw doesn't allow item assignement

In [10]:

# How can you remove a specific element from tuple? Provide the code.
#using .pop to delete elememt using the index value
combine.pop(3)
#list doesn't support pop()
#using .remove to delete elememt using the first value that matches with the criteria 
combine.remove(3)
print(combine)
#since tuples are immutable it isn't allowd to use pop() or remove() function

(1, 2, 3, 4, 5, 6, 7)

In [19]:
# How can you find the index of a specific element in tuple? Provide the code.
combine.index(1)

0

In [20]:
# How can you count the number of occurrences of a specific element in tuple? Provide the code.
combine.count(10)

0

In [22]:
# How can you sort the elements in a_list in ascending order? Provide the code.
# tuple doesn't have sort()function of it's own but we can use sorted( ) function by passing the tuples into it 
#combine.sort() won't work because tuple doesn't have sort function
sorted(combine)

[1, 2, 3, 4, 4, 5, 6, 7]

In [27]:
# How can you reverse the order of elements in tuple? Provide the code.
#combine.reverse() # tuples doesn't have reverse function 
#we can use the slice method to reverse tuple
combine[::-1]

(7, 6, 5, 4, 4, 3, 2, 1)

In [35]:
# # How can you create a new list new_list that contains the same elements as tuple? Provide the code.
a = combine
a

(1, 2, 3, 4, 4, 5, 6, 7)

In [37]:
# How can you remove all elements from tuple? Provide the code.
# we can't clear tuple element directly we ca nre assign it to an empty tuple
# a.clear()   not allowed or doesn't have the function clear()
a=tuple()
a

()