In [39]:
# How can you add a new key-value pair to a dictionary named my_dict? Provide the code.
myDict= {"lastname":"abedla", "lastname":"ibrahim"}
myDict['age'] = 63
print(myDict)

{'lastname': 'ibrahim', 'age': 63, 'firstname': 'muhammed'}

In [ ]:
# How can you access the value associated with a specific key in my_dict? Provide the code.
myDict['firstname']

'muhammed'

In [ ]:
# How can you check if a key exists in my_dict? Provide the code.
kryExist = "firstname" in myDict
print(kryExist)
kryExist = "name" in myDict
print(kryExist)

True
False

In [35]:
# How can you remove a key-value pair from my_dict using the key? Provide the code.
myDict.pop("age")
print(myDict)

{'lastname': 'ibrahim', 'firstname': 'muhammed'}

In [40]:
# How can you get the number of key-value pairs in my_dict? Provide the code.

len(myDict)

3

In [41]:
# How can you retrieve all the keys in my_dict? Provide the code.
myDict.keys()

dict_keys(['lastname', 'age', 'firstname'])

In [42]:
# How can you retrieve all the values in my_dict? Provide the code.

myDict.values()

dict_values(['ibrahim', 63, 'muhammed'])

In [47]:
# How can you update the value associated with a specific key in my_dict? Provide the code.
myDict.update({"firstname":"musa"})
print(myDict)

{'lastname': 'ibrahim', 'age': 63, 'firstname': 'musa', 'fistname': 'musa', 'first': 'musa'}

In [51]:
# How can you create a new dictionary new_dict that contains the same key-value pairs as my_dict? Provide the code.
new_dict = myDict
print(new_dict)
newer_dict = myDict.copy()
print(newer_dict)

{'lastname': 'ibrahim', 'age': 63, 'firstname': 'musa', 'fistname': 'musa', 'first': 'musa'}
{'lastname': 'ibrahim', 'age': 63, 'firstname': 'musa', 'fistname': 'musa', 'first': 'musa'}

In [53]:
# How can you remove all key-value pairs from my_dict? Provide the code.
myDict.clear()
print(myDict)

{}

# tuples ***assignment***

In [102]:
# How can you add a new element to a tuple named my_tuple? Provide the code.

myTuples = ("new", "element")

In [60]:
# How can you access the element at index 0 in my_tuple? Provide the code.
myTuples[0]

'new'

In [64]:
# How can you check the length of my_tuple? Provide the code.
len(myTuples)

2

In [65]:
# How can you access the last element of my_tuple? Provide the code.
myTuples[-1]

'element'

In [67]:
# How can you create a new tuple new_tuple that contains the same elements as my_tuple? Provide the code.
new_tuple = myTuples
print(new_tuple)

('new', 'element')

In [68]:
# How can you count the number of occurrences of a specific element in my_tuple? Provide the code.
myTuples.count("new")

1

In [72]:
tuple3 = new_tuple + myTuples
print(tuple3)

('new', 'element', 'new', 'element')

In [73]:
# How can you check if a specific element exists in my_tuple? Provide the code.?
"new" in tuple3

True

In [74]:
# How can you find the index of a specific element in my_tuple? Provide the code.
myTuples.index("new")

0

In [78]:
# How can you convert my_tuple into a list? Provide the code.
convertedList = list(myTuples)

print(convertedList)

['new', 'element']
[('new', 'element', 'new', 'element')]

In [103]:
# How can you remove all elements from my_tuple? Provide the code.
# since tuples are immutable we can only delete the whole tuple
del(myTuples)
# or we can  converted to list and use a clear function
myTuples = (list(myTuples).clear())
print(myTuples)

None

# ***set assignment***

In [123]:
# How can you add a new element to a set named my_set? Provide the code.
mySet = {1,2,3,4,5}
mySet.add(6)
mySet
set2= {5,6,7,8}

In [116]:
# How can you check if a specific element exists in my_set? Provide the code.
1 in mySet

True

In [121]:
# How can you remove a specific element from my_set? Provide the code.
mySet.remove(6)
print(mySet)

{2, 3, 4, 5}

In [124]:
# How can you find the union of two sets set1 and set2? Provide the code.

set2.union(mySet)

{1, 2, 3, 4, 5, 6, 7, 8}

In [126]:
# How can you find the intersection of two sets set1 and set2? Provide the code.
set2.intersection(mySet)

{5, 6}

In [143]:
# How can you find the difference between two sets set1 and set2? Provide the code.

diff1 =set2.difference(mySet)
print(diff1)
diff2= mySet.difference(set2)
print(diff2)

{8, 7}
{1, 2, 3, 4}

In [135]:
set3= {1,2,3}

In [139]:
# How can you check if set1 is a subset of set2? Provide the code.
set2.issubset(mySet)
mySet.issubset(set2)
mySet.issubset(set3)
set3.issubset(mySet)

True

In [137]:
#How can you check if set1 is a superset of set2? Provide the code.
mySet.issuperset(set2)
set2.issuperset(mySet)
set3.issuperset(mySet)
mySet.issuperset(set3)

True

In [140]:
# How can you find the symmetric difference between two
# sets set1 and set2? Provide the code.
mySet.symmetric_difference(set2)
set2.symmetric_difference(mySet)

{1, 2, 3, 4, 7, 8}

In [141]:
# How can you remove all elements from my_set? Provide the code.
set3.clear()